html {
   background: transparent url('../img/cool-background.svg') no-repeat fixed 0 0 / cover;
   color: #222;
}

h1 {
   position: fixed;
   bottom: 0;
   left: 0;
   width: 500px;
   margin-left: 30px;
   letter-spacing: .35rem;
   font-family: Codystar, cursive;
}

#workshops--git {
   background: none;
}

#workshops--git main {
   margin: auto;
   text-align: center;
}

#workshops--git main > a > img {
   width: 800px;
}

@media (max-width: 1100px) {
   #workshops--git header {
      text-align: center;
   }

   #workshops--git header h1 {
      position: static;
      width: auto;
   }
}

@media (max-width: 816px) {
   html {
      background-position: 200px 0;
   }

   #workshops--git main > a > img {
      width: 100%;
   }
}
